.material-icons-outlined {
  font-family: "Material Icons";
  font-style: normal;
}

img {
  height: 100px;
  width: 380px;
}

.input-container {
  position: relative;
  width: 150px;
}

.input-container input {
  width: 100%;
}

.input-container .unit {
  position: absolute;
  display: block;
  top: 6px;
  left: 0;
  padding-left: 5px;
  width: 45px;
  color: #9aa0a6;
}

#google-account, #links {
    color: #5f6368;
}


